body
{
	background-color: #f6e8a1;
	color: #6e3033;
}

tr:first-child
{
	background-color: #85deb2;
}

tr
{
	background-color: #e07761;
}

button
{
	background-color: #6e3033;
	color: #e07761;
}

button:hover
{
	background-color: #e07761;
	color: #6e3033;
}

td,th,h1
{
	text-align: center;
}


